 
.BG
{
    position: absolute;
    width: 1440px;
    height: 828px;
    left: 0px;
    top: 0px;
    background-image: contain;
    z-index: 1;
} 

#container {
    position: absolute;
    width: 438px;
    height: 644px;
    left: 652px;
    top: 131px;
    background: conic-gradient(from 165.41deg at 70.59% 34.03%, #A48C22 -15.77deg, #000000 85.37deg, #A48C22 344.23deg, #000000 445.37deg);    box-shadow: 0px 20px 30px rgba(102, 106, 245, 0.13);
    border-radius: 52px;
    z-index: 1;
    transition-duration: 600ms;
    transition-timing-function: ease;
  }
  
  #container:hover {
    transform: scale(1.1);
  }
  
  .container h1 {
    position: absolute;
    width: 405px;
    height: 68px;
    top: -85px;
    left: 15px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 650;
    font-size: 49px;
    line-height: 56px;
    letter-spacing: 0.08em;
    color: white;
    z-index: 2;
  }
  
  .container p {
    position: absolute;
    width: 345px;
    height: 36px;
    top: 20px;
    left: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    z-index: 2;
  }
  
  .form {
    position: absolute;
    left: 30px;
    top: 100px;
  }
  
  .name,
  .email
  {
    position: relative;
    top: 100px;
    width: 370px;
    height: 51px;
    margin-bottom: 20px;
    background: #F5F5FF;
    z-index: 2;
  }
  
  .message {
    position: relative;
    top: 100px;
    width: 370px;
    height: 130px;
    background: #F5F5FF;
    z-index: 2;
  }
  ::placeholder {
    color: black;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    padding-left: 10px;
    letter-spacing: 0.08em;
    z-index: 2;
  }
  
  .submit {
    position: absolute;
    width: 124px;
    height: 30px;
    left:0%;
    top: 450px;
    background: white;
    z-index: 2;

  }
  
  .submit:hover {
    background: yellow;
  }
  
  .socials {
    position: absolute;
    width: 50px;
    height: 171px;
    right: -80px;
    top: 245px;
    background: black;
    border-radius: 0px 10px 50px 0px;
    z-index: 2;
  }
  
  .fb {
    position: absolute;
    left: 37%;
    top: 15%;
  }
  
  .tw {
    position: absolute;
    left: 37%;
    top: 40%;
  }
  
  .in {
    position: absolute;
    left: 37%;
    top: 65%;
  }
  

#text
{
    position: absolute;
    width: 150px;
    height: 67px;
    left: 305px;
    top: 250px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.08em;
    z-index: 2;
    color: #FFFFFF;
}
.msg, .ph,.bld,.clk{
    z-index: 2;
}


.msg
{
    /*  icon "Envelope icon" */


position: absolute;
width: 50.79px;
height: 38.09px;
left: 307.92px;
top: 414.54px;
}


/*  icon "Alternate Phone icon" */
.ph
{
position: absolute;
width: 50.79px;
height: 50.79px;
left: 307.92px;
top: 492.45px;}



/*  icon "clock" */


.bld
{position: absolute;
width: auto;
height: 60px;
left: 307.92px;
top: 673.5px;}



/*  icon "Building" */

.clk
{
position: absolute;
width: 44.auto;
height: 50.79px;
left: 308.18px;
top: 583.17px;}

.hero{
    position: absolute;
    left: -100px;
    top: -10px;
    
}
#text p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    white-space: nowrap;

}

#msg{
    position: absolute;
    top: 135px;
    left: 70px;
    text-align: center;
    z-index: 2;
}
#ph{
    position: absolute;
    top: 220px;
    left: 70px;
    text-align: center;
    z-index: 2;
}
#clk{
    position: absolute;
    top: 310px;
    left: 70px;
    text-align: center;
    z-index: 2;
}

#bld{
    position: absolute;
    top: 410px;
    left: 70px;
    text-align: center;
    z-index: 2;
}


